.dashboard {
    max-width: 98% !important;
}

.card-text {
    min-height: 100px;
    font-size: 0.9rem;
}

h5 {
    font-size: 1rem;
}

.row {
    --bs-gutter-y: 1rem !important;
}

.program-block {
    border: 1px #d5d4d4 solid !important;
    border-radius: 20px;
    height: 100%;
    padding: 25px 10px;
}

.roadmap:not(:first-of-type) {
    margin-top: 0px;
}

.hide {
    display: none;
}